<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">Website Watcher</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="{% url 'websites:website-list' %}">Websites</a></li>
                <li><a href="{% url 'websites:website-create' %}">Add website<i class="material-icons left">add_circle</i></a></li>
                <li><a href="{% url 'logout' %}">Logout<i class="material-icons left">exit_to_app</i></a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login<i class="material-icons left">input</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>