{% extends 'base.html' %}

{% block content %}

<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content">
            <h5>{{ website.name }}</h5>
            <p>Url: {{ website.url }}</p>
            <p>Description: {{ website.description }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'watcher:watcher-check' website_pk=website.pk %}" class="waves-effect waves-light btn">
                Run Check
                <i class="material-icons left">refresh</i>
            </a>
            <a href="{{ website.get_absolute_url }}edit/" class="waves-effect waves-light btn">
                Edit
                <i class="material-icons left">edit</i>
            </a>
            <a href="{% url 'watcher:website-settings-list' website_pk=website.pk %}" class="waves-effect waves-light btn">
                Settings
                <i class="material-icons left">settings</i>
            </a>
            <a href="{{ website.get_absolute_url }}delete/" class="waves-effect waves-light btn red">
                Delete
                <i class="material-icons left">delete</i>
            </a>
        </div>
    </div>
</div>

<ul class="collection with-header">
    <li class="collection-header">
        <h5>Check setups:</h5>
    </li>
    {% for obj in object_list %}
    <li class="collection-item">
        Name: <a href="{% url 'watcher:website-settings-detail' website_pk=obj.website.pk website_settings_pk=obj.pk %}">{{ obj.website }}</a><br>
        Hash: {{ obj.website_hash }}<br>
        DOM exclusions: {{ obj.dom_exclusions.names }}
    </li>
    {% endfor %}
</ul>

<a href="{% url 'watcher:website-settings-create' website_pk=website_pk %}" class="waves-effect waves-light btn">
    Add Settings
    <i class="material-icons left">add_circle</i>
</a>

{% endblock content %}